# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (DO NOT COMMIT REAL KEYS)
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS / Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
